<div class="layout" style="background-image: url('assets/imgs/home.png')">
  <div class="description-block">
    <span>Application de scoring pour ciblage des politiques publiques</span>
    <p>
      Cette application met en évidence la formule de scoring, qui permettra
      l’identification des ménages éligibles aux différents programmes d’appui
      social et d’aides directes. développée par le Haut-Commissariat au Plan
      (HCP), en utilisant l’enquête-échantillon sur la consommation et les
      dépenses des ménages pour ajuster les coefficients de la formule de
      scoring sur un échantillon de 3.620 ménages.
    </p>
  </div>
  <div class="features">
    <div class="row">
      <div
        class="col"
        *ngFor="let p of programs"
        (click)="ProgramEvaluation(p.title)"
      >
        <div class="feature-block">
          <h3>{{ p.title }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
