.spacer {
  flex: 1 1 auto;
}

.mat-sidenav {
  width: 230px;
  top: 64px!important;
  bottom: 0px;
  transform: none;
  visibility: visible;
}
.mat-drawer.mat-drawer-side {
  z-index: 2;
}

.brand-img {
  transform: scale(0.2);
    position: absolute;
    left: -4%;
}
.brand-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  position: absolute;
    left: 9%;
}
